footer {
  margin-top: 56.5vh;
  height: 60px;
  background-color: #0e6f9c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  img {
    height: 50px;
  }
}

body {
  background: #f2f2f2;
}
