.sidebar {
  width: max-content;
  min-width: 200px;
  height: 93vh;
  position: sticky;
  top: 60px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
  margin-left: 5px;
  h2 {
    padding: 5px;
  }
  ul {
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__link {
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
    h6 {
      font-weight: 600;
    }

    &:hover {
      border-radius: 5px;
      background: #ffffffa4;
      color: #18adf1;
    }
  }
}

footer {
  margin-top: 20px;
  color: #000;
  font-weight: bold;
}
