.Links {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 100px;
  &__title {
    display: flex;
    font-size: 36px;
    justify-content: center;
    margin-top: 40px;
  }
  &__card {
    background: rgb(136, 199, 214);
    border: 2px solid #00000091;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 30%;
    height: 420px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__img {
    border: 2px solid #000;
    border-radius: 100px;
    width: 200px;
    max-height: 200px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      width: 50px;
      height: 50px;
    }
  }
}
