.Link {
  margin-top: 20px;
  width: 50%;
  display: flex;

  justify-content: center;
  &__cards {
    display: flex;
    flex-direction: column;

    gap: 50px;
    margin: 0 auto 50px;
  }

  &__card {
    background: #fff;
    padding: 20px;
    width: 740px;
    border-radius: 10px;
  }
  &__upline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    margin-left: 10px;
    font-size: 24px;
  }
  &__subscribe {
    font-weight: 600;
    cursor: pointer;
  }
  &__desc {
    margin: 10px 0px;
    line-height: 23px;
    font-weight: 500;
  }

  &__img {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    img {
      width: max-content;
      height: 600px;
      border-radius: 5px;
    }
  }

  &__interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    border: none;
    background: none;
    cursor: pointer;
  }

  &__genre {
    margin: 0;
  }
}
